<ion-app>
  <div class="ion-page" id="main-content">
    <!--    title-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          @if(this.displayData =="block"){
            <ion-back-button (click)="toHome()" default-href=""></ion-back-button>
          }@else{
            <ion-back-button (click)="toEditRecord()" default-href=""></ion-back-button>
          }
        </ion-buttons>
        @if(this.record){
          <!-- Если запись существует, отображается ее имя -->
          <ion-title>{{this.record.name}}</ion-title>
        }@else{
          <!-- Иначе отображается "Pet-Helper" -->
          <ion-title>Pet-Helper</ion-title>
        }
        <!-- Кнопка для удаления записи -->
        <ion-buttons id="delete-alert" slot="end">
          <ion-icon class="ion-padding" name="trash-outline" size="large"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <!--    /title-->
    <ion-content>
      <ion-card mode="ios">
        <ion-card-header>
          <!-- Компонент для отображения изображения -->
          <app-image-component
            [imageUuid]=this.imageUuid
            [recordId]=this.recordId
          ></app-image-component>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>{{this.name}}</ion-card-title>
          <ion-card-subtitle>{{this.fullName}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      @if(this.errorModel !== undefined){
        <ion-card color="danger">
          <ion-card-content>
            {{errorModel.message}}
          </ion-card-content>
        </ion-card>
      }
      <!-- Если заполнены поля пола, даты рождения, полного имени или описания -->
      @if(this.sex != null || this.dataBirthday != null || this.fullName != null || this.description != null){
        <ion-card mode="ios" style="display: {{this.displayData}}">
          <ion-card-content>
            <!--        sex-->
            @if(this.sex != null){
              <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
                <ion-label>Пол:</ion-label>
                <ion-note slot="end">{{sex}}</ion-note>
              </div>
              <br>
            }
            <!--      /sex-->
            <!--      birthday-->
            @if(this.dataBirthday != null){
              <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
                <ion-label>Дата рождения:</ion-label>
                <ion-note slot="end">{{dataBirthday | date}}</ion-note>
              </div>
              <br>
            }
            <!--      /birthday-->
            <!--      full name-->
            @if(this.fullName != null){
              <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
                <ion-label>Полное имя:</ion-label>
                <ion-note slot="end">{{fullName}}</ion-note>
              </div>
              <br>
            }
            <!--      /full name-->
            <!--      description-->
            @if(this.description != null){
              <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
                <ion-label>Заметки:</ion-label>
                <ion-note slot="end">{{description}}</ion-note>
              </div>
            }
            <!--      /description-->
          </ion-card-content>
        </ion-card>
      }
      <ion-card mode="ios" style="display: {{this.displayEdit}}">
        <ion-card-content>
          <ion-card-title color="dark" mode="md">Редактирование:</ion-card-title>
          <br>
          <ion-input [(ngModel)]="name" labelPlacement="floating" mode="md" placeholder="Евгеныч" type="text">
            <h1 slot="label">Имя записи:</h1>
          </ion-input>
          <br>
          <ion-select [(ngModel)]="this.sex" label="Пол:" placeholder="Пол питомца">
            @for (item of typeSex; track item) {
              <ion-select-option value="{{item}}">{{item}}</ion-select-option>
            }
          </ion-select>
          <br>
          <div class="item ios item-lines-none item-fill-none hydrated item-label" id="open-modal2">
            <h2 slot="label">Дата рождения:</h2>
            <ion-note slot="end">{{dataBirthday | date}}</ion-note>
          </div>
          <ion-modal [cssClass]="'bottom-end'" trigger="open-modal2">
            <ng-template>
              <ion-datetime
                [(ngModel)]="dataBirthday"
                [showDefaultButtons]="true"
                presentation="date"
                size="cover"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
          <br>
          <ion-input [(ngModel)]="fullName" labelPlacement="floating" mode="md" placeholder="Евгеныч Второй"
                     type="text">
            <h1 slot="label">Полное имя:</h1>
          </ion-input>
          <br>
          <ion-input [(ngModel)]="description" labelPlacement="floating" mode="md" placeholder="Пятнистый" type="text">
            <h1 slot="label">Заметки:</h1>
          </ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card mode="ios" style="display: {{this.displayEdit}}">
        <ion-card-content>
          <ion-card-title color="dark" mode="md">Аватар записи:</ion-card-title>
          <br>
          <input (change)="this.fileSelect($event)" accept="image/*" class="form-control" type="file"/>
        </ion-card-content>
      </ion-card>
      @if(this.displayEdit =="none"){
        <ion-card mode="ios">
          <ion-card-content class="ion-text-center">
            <ion-card-title color="dark" mode="md">Родословная:</ion-card-title>
            <br>
            <ion-button mode="md" (click)="record && record.hasPedigree ? toPedigree() : toCreatePedigree()">
              {{ record && record.hasPedigree ? 'Перейти к просмотру' : 'Добавить в родословную' }}
            </ion-button>
          </ion-card-content>
        </ion-card>
      }
      @if(this.displayEdit =="block"){
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <!-- Кнопка для сохранения данных -->
              <ion-button mode="md" (click)="updateRecord()">
                Сохранить изменения
              </ion-button>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      }
      @if(this.displayEdit =="none"){
        <ion-card-title color="dark" mode="md" class="ion-text-center">Состояния:</ion-card-title>
        <ion-card mode="ios">
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <ion-icon class="ion-margin" color="warning" size="large" name="bonfire-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>Отслеживайте состояние и параметы вашего питомца</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-grid>
          <ion-row>
            @if(this.listStateDictionary){
              @for (item of listStateDictionary; track item.id) {
                <ion-col style="width: 40%">
                  <app-state-component
                    [record]=item></app-state-component>
                </ion-col>
              } @empty {
                <ion-img class="img" src="../../../assets/img/empty.jpg"/>
              }
            }
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col class="ion-text-center">
              <!-- Кнопка для сохранения данных -->
              <ion-button mode="md" (click)="toCreateDictionary()">
                Добавить
              </ion-button>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      }
    </ion-content>
  </div>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    @if(this.displayEdit =="none"){
      <ion-fab-button (click)="toEditRecord()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    }
  </ion-fab>
  <ion-alert
    [buttons]="alertButtons"
    header="Удалить эту запись?"
    trigger="delete-alert"
  ></ion-alert>
</ion-app>
