<ion-app>
  <!--  menu-->
  <ion-menu contentId="main-content" menuId="pet-properties-menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Настройки</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list [inset]="true">
        <ion-item (click)="toSupport()" lines="none">
          <ion-icon color="primary" name="help-buoy-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Помощь</h2>
            <p>Напишите о проблеме</p>
          </ion-label>
        </ion-item>
        <ion-item (click)="toSecurity()" lines="none">
          <ion-icon color="primary" name="settings-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Безопасность</h2>
            <p>Смените пароль</p>
          </ion-label>
        </ion-item>
        <ion-item (click)="logOff()" lines="none">
          <ion-icon color="primary" name="exit-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Выход</h2>
            <p>Завершение сессии</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--  /menu-->
  <div class="ion-page" id="main-content">
    <!--    title-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button (click)="toHome()" default-href=""></ion-back-button>
        </ion-buttons>
        @if(this.record){
        <ion-title>{{this.record.name}}</ion-title>
        }@else{
        <ion-title>Pet-Helper</ion-title>
        }
        <ion-buttons id="delete-alert" slot="end">
          <ion-icon class="ion-padding" name="trash-outline" size="large"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon (click)="openMenu()" class="ion-padding" name="menu-outline" size="large"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <!--    /title-->
    <ion-content>
      <ion-card mode="ios">
        <ion-card-header>
          <app-image-component
            [imageUuid]=this.imageUuid
            [recordId]=this.recordId
          ></app-image-component>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>{{this.name}}</ion-card-title>
          <ion-card-subtitle>{{this.fullName}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      @if(this.sex != null && this.dataBirthday != null && this.fullName != null && this.description != null){
      <ion-card mode="ios" style="display: {{this.displayData}}">
          <ion-card-content>
            <!--        sex-->
            @if(this.sex != null){
      <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
        <ion-label>Пол:</ion-label>
        <ion-note slot="end">{{sex}}</ion-note>
      </div>
      <br>
      }
      <!--      /sex-->
      <!--      birthday-->
      @if(this.dataBirthday != null){
      <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
        <ion-label>Дата рождения:</ion-label>
        <ion-note slot="end">{{dataBirthday | date}}</ion-note>
      </div>
      <br>
      }
      <!--      /birthday-->
      <!--      full name-->
      @if(this.fullName != null){
      <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
        <ion-label>Полное имя:</ion-label>
        <ion-note slot="end">{{fullName}}</ion-note>
      </div>
      <br>
      }
      <!--      /full name-->
      <!--      description-->
      @if(this.description != null){
      <div class="item ios item-lines-none item-fill-none hydrated item-label" style="display: {{this.displayData}}">
        <ion-label>Заметки:</ion-label>
        <ion-note slot="end">{{description}}</ion-note>
      </div>
      }
      <!--      /description-->
    </ion-card-content>
  </ion-card>
      }
      <ion-card mode="ios" style="display: {{this.displayEdit}}">
        <ion-card-content>
          <ion-card-title color="dark" mode="md">Редактирование:</ion-card-title>
          <br>
          <ion-input [(ngModel)]="name" labelPlacement="floating" mode="md" placeholder="Евгеныч" type="text">
            <h1 slot="label">Имя записи:</h1>
          </ion-input>
          <br>
          <ion-select [(ngModel)]="this.sex" label="Пол:" placeholder="Пол питомца">
            @for (item of typeSex; track item) {
            <ion-select-option value="{{item}}">{{item}}</ion-select-option>
            }
          </ion-select>
          <br>
          <div class="item ios item-lines-none item-fill-none hydrated item-label" id="open-modal2">
            <h2 slot="label">Дата рождения:</h2>
            <ion-note slot="end">{{dataBirthday | date}}</ion-note>
          </div>
          <ion-modal [cssClass]="'bottom-end'" trigger="open-modal2">
            <ng-template>
              <ion-datetime
                [(ngModel)]="dataBirthday"
                [showDefaultButtons]="true"
                presentation="date"
                size="cover"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
          <br>
          <ion-input [(ngModel)]="fullName" labelPlacement="floating" mode="md" placeholder="Евгеныч Второй"
                     type="text">
            <h1 slot="label">Полное имя:</h1>
          </ion-input>
          <br>
          <ion-input [(ngModel)]="description" labelPlacement="floating" mode="md" placeholder="Пятнистый" type="text">
            <h1 slot="label">Заметки:</h1>
          </ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card mode="ios" style="display: {{this.displayEdit}}">
        <ion-card-content>
          <ion-card-title color="dark" mode="md">Аватар записи:</ion-card-title>
          <br>
          <input (change)="this.fileSelect($event)"
                 accept="image/*"
                 class="form-control"
                 type="file"/>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    @if(this.displayEdit =="none"){
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="toEditRecord()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    }@else{
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="updateRecord()">
        <ion-icon name="document-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toEditRecord()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    }
  </ion-fab>
  <ion-alert
    [buttons]="alertButtons"
    header="Удалить эту запись?"
    trigger="delete-alert"
  ></ion-alert>
</ion-app>
