@if (this.recordVal.active) {
  <ion-card (click)="toDictionary()" mode="ios">
    @if (this.errorModel == undefined) {
      <div class="cover">
        <ion-img class="img" src="{{this.base64}}"/>
      </div>
    }
    <ion-card-header>
      <ion-card-subtitle>{{ this.recordVal.name }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
} @else {
  <ion-card (click)="toDictionary()" mode="ios" color="light">
    @if (this.errorModel == undefined) {
      <div class="cover">
        <ion-img class="img" src="{{this.base64}}"/>
      </div>
    }
    <ion-card-header>
      <ion-card-subtitle>{{ this.recordVal.name }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
}
