<ion-app>
  <div class="ion-page" id="main-content">
    <!--    title-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button (click)="toBack()" default-href=""></ion-back-button>
        </ion-buttons>
        <ion-title>Родословная</ion-title>
      </ion-toolbar>
    </ion-header>
    <!--    /title-->
    <ion-content>
      <!-- Проверка наличия записи this.record -->
      @if(this.record) {
      <ion-card mode="ios">
        <ion-card-header>
          <!-- Отображение аватара записи с помощью компонента app-image-component -->
          <app-image-component
            [imageUuid]="this.record.uuidAvatar"
            [recordId]="this.recordId"
          ></app-image-component>
        </ion-card-header>
        <ion-card-content>
          <!-- Отображение имени и полного имени записи -->
          <ion-card-title>{{ this.record.name }}</ion-card-title>
            <ion-card-subtitle>{{ this.record.fullName }}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      }
      <!-- Цикл для отображения существующих родителей (parent1) -->
      @for (item of parent1; track item.id) {
      <ion-card mode="ios">
        <ion-card-header>
          <!-- Отображение имени и пола родителя -->
          <ion-card-title>{{ item.name }}</ion-card-title>
            <ion-card-subtitle>{{ item.sex }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{ item.description }}</ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col></ion-col>
              <ion-col>
                <ion-buttons>
                  <!-- Кнопка для перехода на страницу свойств родителя -->
                  <ion-icon
                    color="primary"
                    class="ion-padding"
                    (click)="toParent(item.id)"
                    size="large"
                    name="arrow-forward-circle-outline"
                  ></ion-icon>
                </ion-buttons>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-buttons (click)="deleteExistParent()">
                  <!-- Кнопка для удаления существующего родителя -->
                  <ion-icon
                    color="primary"
                    class="ion-padding"
                    name="trash-outline"
                    size="large"
                  ></ion-icon>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      }
      <!-- Цикл для отображения несуществующих родителей (parent2) -->
      @for (item of parent2; track item.id) {
      <ion-card mode="ios" color="light">
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
            <ion-card-subtitle>{{ item.sex }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{ item.description }}</ion-card-content>

          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col></ion-col>
              <ion-col></ion-col>
              <ion-col class="ion-text-center">
                <ion-buttons (click)="deleteNotExistParent()">
                  <!-- Кнопка для удаления несуществующего родителя -->
                  <ion-icon
                    color="primary"
                    class="ion-padding"
                    name="trash-outline"
                    size="large"
                  ></ion-icon>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      }
      <!-- Проверка, что количество родителей меньше 2 -->
      @if(this.count < 2) {
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <!-- Кнопка для перехода на страницу добавления нового родителя -->
            <ion-button (click)="toCreatePedigree()">Добавить родителя</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      }
    </ion-content>
  </div>
</ion-app>
