<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar color="light">
      <ion-title class="ion-text-center new-title-color">Pet-Helper</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-img class="img" alt="auth" src="../../../assets/img/auth.jpg"/>
  <br>
  <br>
  <ion-content style="text-align: center;">
    <ion-button (click)="singIn()">Вход</ion-button>
    <ion-button (click)="singUp()">Регистрация</ion-button>
  </ion-content>
</ion-content>

