<ion-app>
  <!--  menu-->
  <ion-menu contentId="main-content" menuId="security-menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Настройки</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list [inset]="true">
        <ion-item (click)="toSupport()" lines="none">
          <ion-icon color="primary" name="help-buoy-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Помощь</h2>
            <p>Напишите о проблеме</p>
          </ion-label>
        </ion-item>
        <ion-item (click)="logOff()" lines="none">
          <ion-icon color="primary" name="exit-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Выход</h2>
            <p>Завершение сессии</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--  /menu-->
  <div class="ion-page" id="main-content">
    <!--  title-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon (click)="openMenu()" class="ion-padding" name="menu-outline" size="large"></ion-icon>
        </ion-buttons>
        <ion-title>Безопасность</ion-title>
      </ion-toolbar>
    </ion-header>
    <!--    /title-->
    <ion-content>
      <br>
      <ion-img alt="auth" class="img" src="../../../assets/img/password.jpg"/>
      <ion-card mode="ios">
        <ion-card-content>
          <ion-list>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-icon class="ion-margin" color="warning" size="large" name="bonfire-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label>Если вы подозреваете, что ваша учетная запись была взломана, вы можете обновить пароль прямо
                здесь
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <!--      error module-->
      @if (this.errorModel !== undefined) {
        <ion-card color="danger">
          <ion-card-content>
            {{ errorModel.message }}
          </ion-card-content>
        </ion-card>
      }
      <!--      /error module-->
      <ion-list style="width: 80%; margin: auto">
        <ion-item>
          <ion-input [(ngModel)]="oldPassword" labelPlacement="floating" placeholder="7654321" type="password">
            <div slot="label">Текущий пароль
            </div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="newPassword" labelPlacement="floating" placeholder="1234567" type="password">
            <div slot="label">Новый пароль
            </div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="confirmPassword" labelPlacement="floating" placeholder="1234567" type="password">
            <div slot="label">Подтверждение
            </div>
          </ion-input>
        </ion-item>
      </ion-list>
      <br>
      <!--      button update-->
      <ion-content id="update-alert" style="text-align: center;">
        <ion-button>Обновить данные</ion-button>
      </ion-content>
    </ion-content>
    <!--    /button update-->
    <ion-alert
      [buttons]="alertButtons"
      header="Обновить пароль?"
      trigger="update-alert"
    ></ion-alert>
  </div>
</ion-app>

