<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button default-href="index"></ion-back-button>
      </ion-buttons>
      <ion-title color="dark">Pet-Helper</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-img class="img" src="../../../assets/img/singup.jpg"/>
  <br>
  <br>
  @if(this.errorModel !== undefined){
    <ion-card color="danger">
      <ion-card-content>
        {{errorModel.message}}
      </ion-card-content>
    </ion-card>
  }
  <ion-list style="width: 80%; margin: auto">
    <ion-item>
      <ion-input [(ngModel)]="login" labelPlacement="floating" placeholder="example@mail.com">
        <div slot="label">Логин
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" type="password" labelPlacement="floating" placeholder="1234567">
        <div slot="label">Пароль
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="passwordConfirm" type="password" labelPlacement="floating" placeholder="1234567">
        <div slot="label">Подтвердите пароль
        </div>
      </ion-input>
    </ion-item>
  </ion-list>
  <br>
  <ion-content style="text-align: center;">
    <ion-button (click)="singUp()">Регистрация</ion-button>
  </ion-content>
</ion-content>

