<ion-app>
  <div class="ion-page" id="main-content">
    <!--    title-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          @if (this.displayData == "block") {
            <ion-back-button (click)="toBack()" default-href=""></ion-back-button>
          } @else {
            <ion-back-button (click)="toEditRecord()" default-href=""></ion-back-button>
          }
        </ion-buttons>
        @if (this.dictionary) {
          <ion-title>{{ this.dictionary.name }}</ion-title>
        } @else {
          <ion-title>Pet-Helper</ion-title>
        }
        <ion-buttons slot="end" (click)="setOpenShowTable(true)">
          <ion-icon class="ion-padding" name="document-attach-outline" size="large"></ion-icon>
        </ion-buttons>
        <!-- Кнопка для удаления записи -->
        <ion-buttons (click)="deleteDictionary()" id="delete-alert" slot="end">
          <ion-icon class="ion-padding" name="trash-outline" size="large"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <!--    /title-->
    <ion-content>
      <ion-card mode="ios">
        @if (this.imageBase64) {
          <ion-card-header>
            <ion-img class="img" alt="auth" src="{{this.imageBase64}}"/>
          </ion-card-header>
        }
        <ion-card-content>
          @if (this.dictionary) {
            <ion-card-title>{{ this.dictionary.name }}</ion-card-title>
            <ion-card-subtitle>{{ this.dictionary.description }}</ion-card-subtitle>
          }
        </ion-card-content>
      </ion-card>

      @if (isActive) {
        <ion-card mode="ios" style="display: {{this.displayData}}">
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <ion-icon class="ion-margin" color="warning" size="large" name="bonfire-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>Добовляйте контрольные точки, чтобы видеть динамику состояния</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      } @else {
        <ion-card mode="ios" style="display: {{this.displayData}}">
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <ion-icon class="ion-margin" color="warning" size="large" name="bonfire-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>Дневник был завершен!</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      }
      @if (isActive) {
        @if (displayEdit == "none") {
          <div class="ion-text-center">
            <ion-button mode="md" (click)="updateStatus()">Завершить дневник</ion-button>
          </div>
        }
      }
      <ion-card mode="ios" style="display: {{display}}">
        <ion-card-header>
          Данные с {{ beginPeriod | date }} по {{ endPeriod | date }}
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas style="position: relative; height:20vh;"></canvas>
        </ion-card-content>
      </ion-card>

      @if (isActive) {
        @if (displayEdit == "none") {
          <div class="ion-text-center">
            <ion-button (click)="setOpen(true)" mode="md">Добавить контрольную точку</ion-button>
          </div>
          <br>
        }
      }
      @if (displayEdit == "none") {
        @for (item of stateList; track item) {
          <ion-item>
            <ion-label>
              <h2>{{ item.dateCreated | date }}</h2>
              <h4>{{ item.value }}</h4>
              <p>{{ item.description }}</p>
            </ion-label>
            @if (isActive) {
              <ion-buttons slot="end" (click)="deleteState(item.id)">
                <ion-icon class="ion-padding" name="trash-outline"></ion-icon>
              </ion-buttons>
            }
          </ion-item>
        } @empty {
          <ion-img class="img" alt="auth" src="../../../assets/img/empty.jpg"/>
        }
        <br>
        <br>
        <br>
      }
      <ion-card mode="ios" style="display: {{this.displayEdit}}">
        <ion-card-content>
          <ion-card-title color="dark" mode="md">Редактирование:</ion-card-title>
          <br>
          <ion-input [(ngModel)]="name" labelPlacement="floating" mode="md" placeholder="Евгеныч" type="text">
            <h1 slot="label">Имя записи:</h1>
          </ion-input>
          <br>
          <ion-input [(ngModel)]="descriptionState" labelPlacement="floating" mode="md" placeholder="Пятнистый"
                     type="text">
            <h1 slot="label">Заметки:</h1>
          </ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card mode="ios" style="display: {{this.displayEdit}}">
        <ion-card-content>
          <ion-card-title color="dark" mode="md">Аватар записи:</ion-card-title>
          <br>
          <div class="ion-text-center">
            <ion-button (click)="setOpenAddPoint(true)" mode="md">Выбрать обложку</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
      @if (this.displayEdit == "block") {
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <!-- Кнопка для сохранения данных -->
              <ion-button mode="md" (click)="updateDictionary()">
                Сохранить изменения
              </ion-button>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      }
      <!-- Модальное окно для добавления контрольной точки -->
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="confirm($event)">Ок</ion-button>
              </ion-buttons>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Отмена</ion-button>
              </ion-buttons>
              <ion-title>Введите данные</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div class="item ios item-lines-none hydrated item-label" id="open-modal2"
                 style="border: #989aa2; border-radius: 4px; padding: 3px">
              <ion-label>Дата контрольной точки:</ion-label>
              <ion-note slot="end">{{ dateForCheck | date }}</ion-note>
            </div>
            <ion-modal [cssClass]="'bottom-end'" style="background-color: rgba(0, 51, 255, 0.2)" trigger="open-modal2">
              <ng-template>
                <ion-datetime
                  [(ngModel)]="dateForCheck"
                  [showDefaultButtons]="true"
                  presentation="date"
                  size="cover"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-input [(ngModel)]="value" labelPlacement="floating" mode="md" placeholder="10.0" type="text">
              <ion-label slot="label">Значение выбранного дня:</ion-label>
            </ion-input>
            <ion-input [(ngModel)]="descriptionState" labelPlacement="floating" mode="md" placeholder="День прекрасен"
                       type="text">
              <ion-label slot="label">Заметки к записи:</ion-label>
            </ion-input>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal [isOpen]="isModalOpenAddPoint">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="cancelAddPoint()">Отмена</ion-button>
              </ion-buttons>
              <ion-title>Обложка для дневника</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            @for (item of listImages; track item) {
              <app-dictionary-image
                (itemClick)="confirmAddPoint($event)"
                [record]=item></app-dictionary-image>
            } @empty {
              <ion-img class="img" alt="auth" src="../../../assets/img/empty.jpg"/>
            }
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal [isOpen]="isModalOpenShowTable">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="confirmShowTable($event)">Ок</ion-button>
              </ion-buttons>
              <ion-buttons slot="start">
                <ion-button (click)="cancelShowTable()">Отмена</ion-button>
              </ion-buttons>
              <ion-title>Просмотр таблицы</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div id="pdfTable">
              <h3 style="text-align: center">Данные графика: {{ this.dictionary.name }}</h3>
              <table style="width: 100%">
                <thead>
                <tr>
                  <th>№</th>
                  <th>Дата заметки</th>
                  <th>Отметка</th>
                  <th>Содержание</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let item of stateList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.dateCreated | date }}</td>
                  <td>{{ item.value }}</td>
                  <td>{{ item.description }}</td>
                </tr>
                </tbody>
              </table>
              <br>
              <br>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>
  </div>
  @if (this.isActive) {
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
      @if (displayEdit == "none") {
        <ion-fab-button (click)="toEditRecord()">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
      }
    </ion-fab>
  }
</ion-app>
