<ion-app>
  <div class="ion-page" id="main-content">
    <!--    title-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button (click)="toBack()" default-href=""></ion-back-button>
        </ion-buttons>
        <ion-title>Создать дневник</ion-title>
      </ion-toolbar>
    </ion-header>
    <!--    /title-->
    <ion-content>
      <ion-card mode="ios">
        @if (this.imageBase64) {
          <ion-card-header>
            <ion-img class="img" alt="auth" src="{{this.imageBase64}}"/>
          </ion-card-header>
        }
        <ion-card-content class="ion-text-center">
          <ion-button (click)="setOpen(true)" mode="md">Добавить обложку</ion-button>
        </ion-card-content>
      </ion-card>

      @if (this.errorModel !== undefined) {
        <ion-card color="danger">
          <ion-card-content>
            {{ errorModel.message }}
          </ion-card-content>
        </ion-card>
      }

      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-subtitle color="dark" mode="md">Данные для создания:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <!--          select name-->
          <ion-input [(ngModel)]="name" labelPlacement="floating" mode="md" placeholder="Температура"
                     type="text">
            <div slot="label">Название</div>
          </ion-input>
          <!--          /select name-->
          <!--          description-->
          <ion-input [(ngModel)]="description" labelPlacement="floating" mode="md" placeholder="Повышена" type="text">
            <div slot="label">Заметки</div>
          </ion-input>
          <!--          /description-->
        </ion-card-content>
      </ion-card>
      <br>
      <div class="ion-text-center">
        <ion-button (click)="createDictionary()" mode="md">Создать дневник</ion-button>
      </div>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="cancel()">Отмена</ion-button>
              </ion-buttons>
              <ion-title>Обложка для дневника</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            @for (item of listImages; track item) {
              <app-dictionary-image
                (itemClick)="confirm($event)"
                [record]=item></app-dictionary-image>
            } @empty {
              <ion-img class="img" alt="auth" src="../../../assets/img/empty.jpg"/>
            }
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>
  </div>
</ion-app>
